/* Author: Kimberly Matutina */
/* Date: 03/28/2021 */
/* This file is the stylesheet I used to style my webpages */ 

/* Shopping Policy */
.policy {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: hidden;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Text Header */
.hdrright {
  text-align: right;
}

table {
  background-color: rgba(255, 255, 255, 0.925);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* Image/Text Header */
.hdrtxt {
  background-color: rgba(255, 255, 255, 0.925);
}

/* Image header */
.imghdr {
  border-style: double;
  border-width: 2px;
}

/* Quantity text box */
.qtytxtbox {
  text-align: center;
  border-left: 1px;
  border-right: 1px;
  background-color: rgba(255, 255, 255, 0.37);
}

/* Total Items */
.totalitms {
  border-style: hidden;
}
/* General */
body {
    width: 800px;
    margin: 0 auto;
    background-image: url("images/backgrounds.jpeg");
    background-repeat: repeat;
    background-position: center;
    background-size: auto;
}
/* Typography */   
h1,h2,h3,h4 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
/* block styling */
body > div {
    border: 5px solid black;
    display: flex;
}
/* Form styling */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: black;
}    
/* Styling the products display */
.item img {
    width: 200px;
    height: auto;
}

.item {
  border: 2px;
}

form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
  }
  
  .value-button {
    display: inline-block;
    border: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
  form #decrease {
    margin-right: -4px;
    border-radius: 8px 0 0 8px;
  }
  
  form #increase {
    margin-left: -4px;
    border-radius: 0 8px 8px 0;
  }
  
  form #input-wrap {
    margin: 0px;
    padding: 0px;
  }
  
  input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 0px;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
